<!-- Footer -->
<!-- <div class="container-fluid m-0 p-0"> -->
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notes">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <div class="text-muted small">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}.&nbsp;&nbsp;All Rights Reserved.</div>
  </div>
</nav>
<!-- </div> -->

<script src="/js/bootstrap.bundle.min.js"></script>
