<section id="home">
    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <div class="row">

                        <div class="col-lg-4">
                            <img  class="img-circle avatar" alt="Jonathan Lapham" src="img/Profile.jpg">
                        </div>

                        <div class="col-lg-8">
                            <div class="intro-message">
                                <h1>Jonathan Lapham</h1>
                                <h2>Software Engineer</h2>
                                <hr class="intro-divider">
                                <ul class="list-inline intro-social-buttons">
                                    <li>
                                        <a href="https://www.linkedin.com/in/jonathanlapham" class="btn btn-default btn-lg">
                                            <i class="fa fa-linkedin fa-fw"></i>
                                            <span class="network-name">Linkedin</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/jonathan.lapham" class="btn btn-default btn-lg">
                                            <i class="fa fa-facebook fa-fw"></i>
                                            <span class="network-name">Facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='&#109;ai&#108;to&#58;jon&#97;%74&#104;%&#54;1&#37;&#54;E&#64;la%70ham&#46;org.uk'
                                           class="btn btn-default btn-lg">
                                            <i class="fa fa-envelope fa-fw"></i>
                                            <span class="network-name">Email</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href='pgp-key'
                                           class="btn btn-default btn-lg">
                                            <i class="fa fa-key fa-fw"></i>
                                            <span class="network-name">PGP Key</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
</section>
