<div class="notelist">
    {% for post in site.posts %}
        {% assign isodd = forloop.index | modulo: 2 %}
        {% if isodd == 1 %}
            <div class="content-post-a">
        {% else %}
            <div class="content-post-b">
        {% endif %}
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <p class="author">
                <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
            </p>
            <div class="content">
                {{ post.content }}
            </div>
        </div>
    {% endfor %}
</div><!--/.notelist -->